body {
  font-family: 'Google Sans', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Google Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SpeakerSection.css */

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-text {
  display: flex;
  animation: moveText 20s linear infinite;
}

.animate-moveText {
  margin-right: 1rem;
}

.swag-item img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.swag-item:hover img {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.popup {
  background: #EEEEEE;
  padding: 32px;
  border-radius: 8px;
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-close {
  position: absolute;
  top: 40px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.popup-image {
  width: 100%;
  border-radius: 8px;
}

.popup-info {
  margin-top: 20px;
}

.popup-section {
 
  color: #202124;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 32px;
}



.copy-button:hover {
  color: #a19898;
}

@media (max-width: 600px) {
  .popup {
    width: 95%;
    padding: 15px;
  }
  
  .popup-title {
    font-size: 18px;
  }
  
  .popup-section {
    flex-direction: column;
    align-items: flex-start;
  }

}

.stretch-img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  object-fit: contain; /* Or 'cover', 'fill', 'scale-down' based on your design needs */
}








